/* ===========================================
   EY LIVE
   Login
=========================================== */

.loginPage{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

background:linear-gradient(180deg,#0B0618,#180A2F,#241044);

}

.loginCard{

width:100%;

max-width:450px;

padding:35px;

border-radius:28px;

background:rgba(255,255,255,.06);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

box-shadow:0 15px 35px rgba(0,0,0,.35);

}

.logoArea{

text-align:center;

margin-bottom:30px;

}

.logoCircle{

width:110px;

height:110px;

margin:auto;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:48px;

background:linear-gradient(135deg,#7B2EFF,#FF2E9E);

box-shadow:0 0 45px rgba(123,46,255,.45);

margin-bottom:20px;

}

.logoArea h1{

font-size:36px;

font-weight:700;

margin-bottom:8px;

}

.logoArea p{

color:#BDBDD5;

}

.loginCard label{

display:block;

margin-top:18px;

margin-bottom:8px;

font-weight:600;

}

.phoneBox{

display:flex;

gap:10px;

}

.phoneBox select{

width:105px;

height:54px;

border:none;

border-radius:16px;

background:#ffffff10;

color:white;

padding:0 10px;

}

.phoneBox input{

flex:1;

}

.loginCard input{

width:100%;

height:54px;

padding:0 16px;

border:none;

border-radius:16px;

background:#ffffff10;

color:white;

font-size:15px;

}

.loginCard input::placeholder{

color:#BDBDD5;

}

.loginBtn{

width:100%;

height:56px;

margin-top:28px;

border:none;

border-radius:18px;

background:linear-gradient(135deg,#7B2EFF,#FF2E9E);

color:white;

font-size:17px;

font-weight:700;

cursor:pointer;

transition:.25s;

}

.loginBtn:hover{

transform:translateY(-2px);

box-shadow:0 10px 25px rgba(123,46,255,.45);

}

.registerBox{

margin-top:25px;

text-align:center;

color:#CFCFE7;

}

.registerBox a{

margin-left:6px;

color:#FF2E9E;

font-weight:700;

text-decoration:none;

}

@media(max-width:600px){

.loginCard{

padding:24px;

}

.logoCircle{

width:90px;

height:90px;

font-size:40px;

}

.logoArea h1{

font-size:28px;

}

}
